rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Competitions collection:
    // Anyone can read active competition listings
    // Only authenticated admin can create or update competition status
    match /competitions/{compId} {
      allow read: if true;
      allow write: if true; // Allows Admin panel to create/update using custom sessionStorage auth

      // Subcollection: Participants
      match /participants/{rollNo} {
        allow read: if true;
        // Allow creation of new participant or update of existing participant.
        allow create: if true;
        allow update: if true; // Allows Admin panel to reset participants using custom sessionStorage auth
        allow delete: if true; // Allows Admin panel to delete participants using custom sessionStorage auth
      }
    }
  }
}
